In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
for dirname, _, filenames in os.walk('./input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./input\test.csv
./input\train.csv

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
train_data, test_data = train_test_split(pd.read_csv('./input/train.csv'), test_size=0.33)

In [24]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S
582,583,0,2,"Downton, Mr. William James",male,54.0,0,0,28403,26.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.0500,NaN,S

In [11]:
train_data.shape

(596, 12)

In [10]:
test_data.shape

(295, 12)

In [42]:
features = ["Pclass", "Sex", "SibSp", "Parch"]

## get_dummies - Convert categorical variable into dummy/indicator variables (one hot Encode)
X = pd.get_dummies(train_data[features])
y = train_data['Survived']

X_test = pd.get_dummies(test_data[features])
Y_test = test_data['Survived']

In [43]:
from sklearn import svm

clf_svm = svm.SVC(kernel='linear')
clf_svm.fit(X, y)

prediction = clf_svm.predict(X_test)
print(clf_svm.score(X_test, Y_test))
# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': prediction})
# output.to_csv('submission_v1.csv', index=False)
# print("Your submission was successfully saved!")

0.7593220338983051

In [44]:
from sklearn.linear_model import LogisticRegression

clf_logreg = LogisticRegression()
clf_logreg.fit(X, y)

prediction = clf_logreg.predict(X_test)

print(clf_logreg.score(X_test, Y_test))

0.7627118644067796

In [45]:
from sklearn.naive_bayes import GaussianNB

clf_nbayes = GaussianNB()
clf_nbayes.fit(X, y)

print(clf_nbayes.score(X_test, Y_test))

0.7627118644067796

In [46]:
from sklearn.tree import DecisionTreeClassifier

clf_decision = DecisionTreeClassifier()
clf_decision.fit(X, y)

print(clf_decision.score(X_test, Y_test))

0.7593220338983051